<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

{% block contenido %}

<div class="formulario">

    <h2>Crear una cuenta</h2>

    <form method="POST">

        <label>
            Nombre:
        </label>

        <input
            type="text"
            name="nombre"
            required
        >

        <label>
            Correo electrónico:
        </label>

        <input
            type="email"
            name="email"
            required
        >

        <label>
            Contraseña:
        </label>

        <input
            type="password"
            name="password"
            required
        >

        <button type="submit">
            Registrarse
        </button>

    </form>

</div>

{% endblock %}
</body>
</html>